{{#paper-card-content class="flex"}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      {{#paper-sidenav-toggle name="left" as |toggleAction|}}
        {{#paper-button iconButton=true classNames="hide-gt-sm" onClick=(action toggleAction)}}
          {{paper-icon "menu"}}
        {{/paper-button}}
      {{/paper-sidenav-toggle}}
      <h2>
        Menu
      </h2>
      <span class="flex"></span>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  <div class="layout-row layout-wrap">
    <div class="flex-gt-xs-50">
      {{#paper-card as |card|}}
        {{#card.title}}
          <h3>
            February 26, 2017
          </h3>
        {{/card.title}}
        {{card.media src="/assets/images/events/20170226-hsh.jpg"}}
        {{#card.content}}
          <p>
            Today meet the growers at <a target="_blank"
                                         href="https://www.facebook.com/hshnevada/"
                                      >HSH</a>, one of our amazing
    suppliers at the shoppe. 1&#162; prerolls while supplies last!
          </p>
        {{/card.content}}
      {{/paper-card}}
    </div>
  </div>
{{/paper-card-content}}
