{{#paper-card-content class="flex"}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      {{#paper-sidenav-toggle name="left" as |toggleAction|}}
        {{#paper-button iconButton=true classNames="hide-gt-sm" onClick=(action toggleAction)}}
          {{paper-icon "menu"}}
        {{/paper-button}}
      {{/paper-sidenav-toggle}}
      <h2>
        FAQ
      </h2>
      <span class="flex"></span>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  <div class="layout-row layout-xs-column layout-align-center-center">
    <div class="flex-xs flex-gt-xs-70">
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          <h3>
            Who can buy cannabis?
          </h3>
        {{/card.title}}
        {{#card.content}}
          <p>
            You can be a citizen of any state or country, but Nevada law
            requires you must have a valid state or government issued
            identification that contains your picture, date of birth and
            expiration date of the identification.
          </p>
        {{/card.content}}
      {{/paper-card}}
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          <h3>
            What form of payment is accepted?
          </h3>
        {{/card.title}}
        {{#card.content}}
          <p>
            Cash is the only form of payment The Apothecary Shoppe accepts.
            Debit cards, credit cards and checks are not considered cash. ATMs
            are available.
          </p>
        {{/card.content}}
      {{/paper-card}}
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          <h3>
            How much cannabis am I allowed to buy?
          </h3>
        {{/card.title}}
        {{#card.content}}
          <p>
            For flowers, the most a resident of Nevada can buy is 2.5 ounces
            every 14 days. The legal limit for infused products and concentrates
            is measured in milligrams of THC (rather than by weight of the
            product). Nevada residents can purchase 2800 milligrams of THC
            infused products and non-residents can purchase 700 milligrams.
          </p>
        {{/card.content}}
      {{/paper-card}}
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          <h3>
            Can I take cannabis products home with me?
          </h3>
        {{/card.title}}
        {{#card.content}}
          <p>
            It is illegal to take cannabis products outside of the State of
            Nevada. Residents of Nevada should transport their cannabis in
            sealed and secured containers. The statutes that govern medical
            marijuana can be found
            <a href="https://www.leg.state.nv.us/nrs/NRS-453A.html">here</a>.
          </p>
        {{/card.content}}
      {{/paper-card}}
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          <h3>
            Can I consume cannabis products in public?
          </h3>
        {{/card.title}}
        {{#card.content}}
          <p>
            No. It is against Nevada law to consume cannabis in any public place
            (i.e. bars, restaurants, sidewalks, parks, hallways, public
            transportation, etc.). It is against federal law to consume on
            federal land or facilities on federal land (national parks, etc.).
          </p>
        {{/card.content}}
      {{/paper-card}}
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          <h3>
            What should first-timers be aware of?
          </h3>
        {{/card.title}}
        {{#card.content}}
          <p>
            If this is your first time, or your first time in a long time, we
            recommend establishing a baseline. This means starting with no more
            than 5-10 milligrams for edibles, or 1-2 draws for flower. Do not
            exceed this amount for this initial cannabis experience. It is
            helpful to keep a journal to track serving size, amount consumed,
            time and effect of each product you try. A sample journal is
            provided by The Apothecary Shoppe.
          </p>
        {{/card.content}}
      {{/paper-card}}
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          <h3>
            How do i know how much to take?
          </h3>
        {{/card.title}}
        {{#card.content}}
          <p>
            It is important to note that people react differently to cannabis
            products depending on numerous factors, including their overall
            health, constitution, age and mental state. Our concierges and
            physicians will advise on appropriate intake amounts.
          </p>
        {{/card.content}}
      {{/paper-card}}
    </div>
  </div>
{{/paper-card-content}}
