{{#paper-card-content class="flex"}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      {{#paper-sidenav-toggle name="left" as |toggleAction|}}
        {{#paper-button iconButton=true classNames="hide-gt-sm" onClick=(action toggleAction)}}
          {{paper-icon "menu"}}
        {{/paper-button}}
      {{/paper-sidenav-toggle}}
      <h2>
        Gallery
      </h2>
      <span class="flex"></span>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  <div class="layout-row layout-xs-column">
    <div class="flex gallery">
      {{#paper-card as |card|}}
        {{#card.content}}
          {{#photo-swipe items=model as |img|}}
            <img class="thumb" src={{img.src}} alt={{img.title}}>
          {{/photo-swipe}}
        {{/card.content}}
      {{/paper-card}}
    </div>
  </div>
{{/paper-card-content}}
