{{#paper-card-content class="flex"}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      {{#paper-sidenav-toggle name="left" as |toggleAction|}}
        {{#paper-button iconButton=true classNames="hide-gt-sm" onClick=(action toggleAction)}}
          {{paper-icon "menu"}}
        {{/paper-button}}
      {{/paper-sidenav-toggle}}
      <h2>
        Location and Hours
      </h2>
      <span class="flex"></span>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  <div class="layout-row layout-xs-column">
    <div class="flex">
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
        {{/card.title}}
        {{#card.content}}
          {{#leaflet-map lat=lat lng=lng zoom=zoom}}
            {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
            {{#marker-layer location=emberConfLocation}}
              {{#popup-layer}}
                <h3>The Apothecary Shoppe</h3>
                4240 W. Flamingo Road No. 100
                <br>
                Las Vegas, NV 89103
              {{/popup-layer}}
            {{/marker-layer}}
          {{/leaflet-map}}
          <p>
            Dispensary parking is available facing West Flamingo and to the east
            and west of our building. The Apothecary Shoppe is open 365 days a
            year from 8:00 AM until 3:00 AM. We do delivery from 9:00 AM until
            9:00 PM. Anyone with a valid medical marijuana card may enter The
            Apothecary Shoppe. When visiting the Shoppe, please be sure to have
            your state issued medical marijuana card or out of state equivalent
            along with your valid state driver license. If you do not have a
            medical marijuana patient card please call <a
            href="tel:17024203825">702.420.EVAL</a>.
          </p>

          <p>
            Uber and Lyft non-surge estimates range from $9-$12 from north Strip,
            $6-$9 from center Strip, $8-$11 from south Strip, $12-$16 from
            Downtown and $16-$21 from McCarran International Airport. Consult your
            favorite ride-sharing app for current rates.
          </p>

          <p>
            The Apothecary Shoppe is also directly accessible via Las Vegas RTC
            routes 104 (Valley View/Arville) and 202 (Flamingo).
          </p>

          <p>
            For convenience, complimentary delivery is available for Las Vegas
            residents daily between 2:00 PM and 5:00 PM with a purchase of $100
            or more.
          </p>
        {{/card.content}}
        {{#card.actions}}
          <a href="tel:17027404372">
            {{#paper-button}}
              Call Us
            {{/paper-button}}
          </a>
          <a href="mailto:amhawkins@theapothecaryshoppe.com">
            {{#paper-button}}Email Us{{/paper-button}}
          </a>
        {{/card.actions}}
      {{/paper-card}}
    </div>
  </div>
{{/paper-card-content}}
