{{#paper-card-content class="flex"}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      {{#paper-sidenav-toggle name="left" as |toggleAction|}}
        {{#paper-button iconButton=true classNames="hide-gt-sm" onClick=(action toggleAction)}}
          {{paper-icon "menu"}}
        {{/paper-button}}
      {{/paper-sidenav-toggle}}
      <h2>
        Location and Hours
      </h2>
      <span class="flex"></span>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  <div class="layout-row layout-xs-column">
    <div class="flex">
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
        {{/card.title}}
        {{#card.content}}
          {{#leaflet-map lat=lat lng=lng zoom=zoom class="flex" as |layers|}}
            {{layers.title url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
            {{#layers.marker location=emberConfLocation as |marker|}}
              {{#marker.popup}}
                <h3>The Oregon Convention Center</h3>
                777 NE Martin Luther King Jr Blvd<br>
                Portland, OR 97232
              {{/marker.popup}}
            {{/layers.marker}}
          {{/leaflet-map}}
          <p>
            Please visit us at 4240 W. Flamingo Road No. 100, Las Vegas, NV 89103
          </p>
        {{/card.content}}
        {{#card.actions}}
          {{#paper-button}}Call Us{{/paper-button}}
          {{#paper-button}}Email Us{{/paper-button}}
        {{/card.actions}}
      {{/paper-card}}
    </div>
  </div>
{{/paper-card-content}}
