{{#paper-card-content class="flex"}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      {{#paper-sidenav-toggle name="left" as |toggleAction|}}
        {{#paper-button iconButton=true classNames="hide-gt-sm" onClick=(action toggleAction)}}
          {{paper-icon "menu"}}
        {{/paper-button}}
      {{/paper-sidenav-toggle}}
      <h2>
        Soothing Remedies
      </h2>
      <span class="flex"></span>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  <div class="layout-row layout-xs-column">
    <div class="flex image-card">
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          <div class="flex-50">
            {{#title.text}}
              <h3>
                March
              </h3>
            {{/title.text}}
          </div>
          {{title.media class="full-width" src="/assets/images/march-sooting-remedies.png"}}
        {{/card.title}}
        {{#card.content}}
          <p>
            Coming soon, green is the theme for March.
          </p>
        {{/card.content}}
      {{/paper-card}}
    </div>
  </div>
{{/paper-card-content}}
