{{#paper-card-content class="flex"}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      {{#paper-sidenav-toggle name="left" as |toggleAction|}}
        {{#paper-button iconButton=true classNames="hide-gt-sm" onClick=(action toggleAction)}}
          {{paper-icon "menu"}}
        {{/paper-button}}
      {{/paper-sidenav-toggle}}
      <h2>
        Menu
      </h2>
      <span class="flex"></span>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  <div class="layout-row layout-xs-column">
    <div class="flex-gt-xs-33">
      {{#paper-card as |card|}}
        {{#card.title}}
          <h3>
            Fancy
          </h3>
        {{/card.title}}
        {{card.media src="/assets/images/fancy.jpg"}}
        {{#card.content}}
          <p>
            Fancy is our lead congierge. He can be simply described the most
            dapper man in the marijuana industry. He provides decades of knowledge
            stretching from Ohio to Vegas and knows how to make an ineffably welcome
            impression on you.
          </p>

          <p>
            Outside of the Shoppe, he enjoys basketball and is thrilled his <a
href="https://twitter.com/cavs">Cavs</a> finally won a ring with the king.
          </p>
        {{/card.content}}
      {{/paper-card}}
    </div>
    <div class="flex-gt-xs-33">
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text}}
            <h3>
              Andrea
            </h3>
          {{/title.text}}
        {{/card.title}}
        {{card.media src="/assets/images/andrea.jpg"}}
        {{#card.content}}
          <p>
            Andrea takes on the toughest problems of the business: what our grow
            and cultivation produces; and what else to buy to ensure that our
            Shoppe be a reflection of the finest cannibus products in Nevada.
          </p>
          <p>
            Andrea, who used to bartend, has found the transition from alcohol
            to medical marijuana much more fulfilling. Instead of inducing
            destructive behavior, Drea's work now induces feelings of serenity.
          </p>
        {{/card.content}}
      {{/paper-card}}
    </div>
    <div class="flex-gt-xs-33">
      {{#paper-card as |card|}}
        {{#card.title}}
          <h3>
            Sara
          </h3>
        {{/card.title}}
        {{card.media src="/assets/images/sara.jpg"}}
        {{#card.content}}
          <p>
            Sara is a receptionist at the Shoppe, her smile will likely be the
            first to greet you at the Shoppe if you visit us during the week.
          </p>
          <p>
            Sara had never tried marijuana before until later in life, and now
            enjoys its calming and relaxing effects. We at the Shoppe are
            encouraging her to catch up on our favorite stoner flicks like <a
                                                                               href="http://www.imdb.com/title/tt0278488/">How
            High</a>, <a
            href="http://www.imdb.com/title/tt0113118">Friday</a>, and <a
                                                                             href="http://www.imdb.com/title/tt0910936/">Pineapple Express</a>.
          </p>
        {{/card.content}}
      {{/paper-card}}
    </div>
  </div>
{{/paper-card-content}}
